.coin-image {
    height: auto;
    position: absolute;
    top: 0;
    right: 80%;
    max-width: 45px;
    height: auto;
}

.coin-name {
    position: relative;
}

.coin-symbol {
    font-size: .7rem;
    color: lightgray;
}

.market-rank {
    font-size: .65rem;
    font-weight: 700;
    padding: .25rem .5rem;
    background-color: #31CEDF;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 0;
}

td {
    color: white !important;
}

// line 16 to line 27 adds rounded borders to the table rows for the coin table
.MuiTableRow-root td:first-child,
.MuiTableRow-root th:first-child{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.MuiTableRow-root td:last-child,
.MuiTableRow-root th:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


@media (max-width: 355px) {
    
}
